#home{
  height: 87vh;
  padding: 40px;
}
#banner-content{
  margin-top: 100px;
  margin-left: 150px ;
  max-width: 1000px;
}
#banner-img{
  float: right;
  margin-right: 150px;
}

#header-logo{
  margin-right: 30px;
}
#testimonial{
  display: inline-flex;
  flex-wrap: wrap;  
}
.testimonial-card{
  margin: 30px;
}
.khr{
  text-decoration: underline;
  text-decoration-color: rgba(170, 111, 248, 0.54);
}
