#banner-content{
  margin-top: 10%;
  margin-left: 15% ;
  max-width: 1000px;
}
#banner-img{
  float: right;
  margin-right: 10%;
  width: 35%;
}

#header-logo{
  margin-right: 30px;
}
#testimonial{
  display: inline-flex;
  flex-wrap: wrap;  
}
.testimonial-card{
  margin: 30px;
}
.khr, .abt-header{
  text-decoration: underline;
  text-decoration-color: rgba(170, 111, 248, 0.54);
}


.flex-container {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 9px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item img{
  width: 200px;
}

.landing-header{
  text-decoration: underline;
  text-decoration-color: rgba(170, 111, 248, 0.54);
}
.abt-content{
  line-height: 20px;
  letter-spacing: 10px;
}

@media only screen and (min-width: 100px) {
  #banner-img{
    margin-left: 50px;
    width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  
  #banner-img{
  float: right;
  margin-right: 10%;
  width: 400px;
}
}

@media only screen and (min-width: 1200px) {
  #banner-img{
  float: right;
  margin-right: 10%;
  width: 600px;
}}